<%- include('partials/header') -%>
<div class="row">
    <div class="box55">
    <div classname="dashboard">
     Dashboard
     </div>
  <div class="column">
  
  
    <div class="card1">Events</div>
  </div>
  <div class="column">
    <div class="card2">News</div>
  </div>
  <div class="column">
    <div class="card3">Job Info</div>
  </div>
  <div class="column">
    <div class="card4"> <a href="https://padlet.com/keerthana532001/5uh1kpvm1fkqhpgj">Secret Alley</a></div>
  </div>
  </div>
  </div>
  <%- include('partials/footer') -%>
