<%- include('partials/header')-%>
    <div class="sol">
    
    
        <div class="container1">
        <div class="nack">
        <p>Contact Us</p>
        <p> Leave us a message:</p>
      </div>
      <div class="row33">
        <div class="column33">
          <img src="https://image.freepik.com/free-vector/contact-us-concept-landing-page_52683-12860.jpg"  style5={{height:"60vh"}}style={{width:"80vh"}}/>
        </div>
        <div class="column33">
          <form  class="form" method="" >
            <label for="firstname">Title of book</label>
            <input type="text" id="firstname" name="firstname" placeholder="Your review"/>
            <label for="country">Genre</label>
            <select id="country" name="country">
              <option value="india">Fiction</option>
              <option value="australia">Game</option>
              <option value="canada">Sci-fi</option>
              <option value="usa">Comics</option>
            </select>
           
              <label for="subject">Subject</label>
                            <input type="text"  id="subject" name="subject" placeholder="Write something here"/>
             <label for="issue">Issue</label>
                            <input type="text"  id="issue" name="issue" placeholder="Explain your issue"/>
            <button type="submit" id="submit"class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      </div>
      </div>    
    <%- include('partials/footer')-%>