<%- include('partials/header') -%>
<div class="row">
    <div class="box55">
    <div classname="dashboard">
     Dashboard
     </div>
  <div class="column">
  
  
    <div class="card1">Registered Alumni</div>
  </div>
  <div class="column">
    <div class="card2">Employed</div>
  </div>
  <div class="column">
    <div class="card3">Unemployed</div>
  </div>
  <div class="column">
    <div class="card4">Other</div>
  </div>
  </div>
  </div>
  <%- include('partials/footer') -%>
