<%- include('partials/header')-%>

    <div>
                
        
        <div class = "back">
            
    
            <div class = "boxx2">
                <div class = "text">
                SiX-G
                </div>
                <div class = "text2">
                Sirius X-Grad 
                </div>
    
            </div>
           
    
            </div>
    
    
        </div>
       
        <%- include('partials/footer')-%>